PORT=5001
MONGO_URI=mongodb+srv://ganjithilakgt:ganjithilakgt@cluster0.leavquz.mongodb.net/thilakganji?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=f56ebd01ed33eef5b505344f0af28622ef3ea10b8990b9a2a929597c6642b9fe95a2111c0502724017d23b28866b3cdbc3df7466a12fc583dffa9d7ebff27502
JWT_EXPIRES_IN=7d
NODE_ENV=production
FRONTEND_URL=http://thilakganji.duckdns.org
